@include font("Open Sans", "OpenSans-Bold", 700, normal);
@include font("Open Sans", "OpenSans-ExtraBold", 800, normal);
@include font("Open Sans", "OpenSans-SemiBold", 600, normal);
@include font("Open Sans", "OpenSans-Regular", 400, normal);
@include font("BebasNeue", "BebasNeue-Bold", 400, normal);

@font-face {
	font-family: "icomoon";
	src: url("../icons/icomoon/icomoon.eot?crvcnf");
	src: url("../icons/icomoon/icomoon.eot?crvcnf#iefix") format("embedded-opentype"),
		url("../icons/icomoon/icomoon.ttf?crvcnf") format("truetype"), url("fonts/icomoon.woff?crvcnf") format("woff"),
		url("../icons/icomoon/icomoon.svg?crvcnf#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
	content: "\e903";
}
.icon-google:before {
	content: "\ea88";
}
.icon-facebook2:before {
	content: "\ea91";
}
