.button {
	display: block;
	width: 150px;
	height: 40px;
	background: #00a4e5;
	color: #fff;
	text-align: center;
	font-weight: 700;
	font-size: 13px;
	letter-spacing: 0.5px;
	line-height: 40px;
	&--right {
		margin: 0 0 0 auto;
	}
	&--center {
		margin: 0 auto;
	}
}
