@keyframes bounce {
	from,
	20%,
	53%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	40%,
	43% {
		-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		-webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
		transform: translate3d(0, -30px, 0) scaleY(1.1);
	}

	70% {
		-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		-webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
		transform: translate3d(0, -15px, 0) scaleY(1.05);
	}

	80% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		-webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
		transform: translate3d(0, 0, 0) scaleY(0.95);
	}

	90% {
		-webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
		transform: translate3d(0, -4px, 0) scaleY(1.02);
	}
}

.promo {
	background: fixed url("../img/bg/1.png") center (center / cover) no-repeat;
	min-height: 100vh;
	padding: 42px 15px 70px;
	display: flex;
	justify-content: center;
	@include _1200 {
		background: fixed url("../img/bg/1_1200.png") center (center / cover) no-repeat;
	}
	@include _992 {
		background: fixed url("../img/bg/1_992.png") center (center / cover) no-repeat;
	}
	@include _768 {
		background: fixed url("../img/bg/1_768.png") center (center / cover) no-repeat;
	}
	@include _576 {
		background: url("../img/bg/1_576.png") center (center / cover) no-repeat;
	}
	@include _480 {
		background: url("../img/bg/1_480.png") center (center / cover) no-repeat;
	}
	@media only screen and (max-device-width: 1366px) {
		background-attachment: scroll;
	}
	&__body {
		text-align: center;
		color: #ffffff;
		flex: 1 1 auto;
		max-width: 940px;
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	&__row {
		flex: 0 0 33.333%;
		display: flex;
		justify-content: center;
		&:nth-child(2) {
			align-items: center;
		}
		&:last-child {
			align-items: flex-end;
		}
	}

	&__logo {
		margin: 0 auto;
		width: 100px;
		height: 23px;
		img {
			width: 100%;
			height: 100%;
		}
	}

	&__text {
		margin: 20px 0;
	}
	&__title {
		font-family: $second-font;
		@include adaptiv-font(60, 32);
		letter-spacing: 5.7px;
		font-weight: 700;
	}

	&__subtitle {
		margin-top: 10px;
		font-weight: 400;
		@include adaptiv-font(16, 13);
	}

	&__down {
		color: #fff;
		font-weight: 600;
		font-size: 11px;
		letter-spacing: 3.7px;
		line-height: 20px;
		animation: bounce 3s ease 0s infinite;
	}
}
