.signup {
	position: relative;
	top: -2px;
	z-index: 2;
	left: 0;
	background: #171819;
	&__body {
		align-items: center;
		justify-content: center;
		min-height: 100px;
		@include _768 {
			flex-direction: column;
		}
	}

	&__title {
		margin-right: 35px;
		font-weight: 700;
		font-size: 22px;
		letter-spacing: 0.84px;
		color: #ffffff;
		@include _768 {
			margin: 20px 0 0;
		}
	}

	&__form {
		margin-left: 35px;
		display: flex;
		@include _768 {
			margin: 20px 0;
		}
		@include _480 {
			flex-direction: column;
			align-items: center;
		}
		input {
			padding: 0 15px;
			width: 250px;
			height: 40px;
			background: #ffffff;
			border: 1px solid #979797;
			color: #000;
			@include phcolor(#48555b);
			@include _480 {
				margin-bottom: 10px;
			}
		}
	}
}
