.sky {
	padding: 120px 0 230px;
	height: 498px;
	background: url("../img/bg/2.png") center (center / cover) no-repeat;
	position: relative;
	z-index: -1;
	bottom: -2px;

	@include _1200 {
		background: url("../img/bg/2_1200.png") center (center / cover) no-repeat;
	}
	@include _992 {
		background: url("../img/bg/2_992.png") center (center / cover) no-repeat;
	}
	@include _768 {
		background: url("../img/bg/2_768.png") center (center / cover) no-repeat;
	}
	@include _576 {
		background: url("../img/bg/2_576.png") center (center / cover) no-repeat;
	}
	@include _480 {
		background: url("../img/bg/2_480.png") center (center / cover) no-repeat;
	}

	&__body {
		max-width: 350px;
		margin: 0 auto;
		text-align: center;
	}

	&__title {
		margin-bottom: 35px;
		font-weight: 700;
		font-size: 30px;
		line-height: 36px;
		letter-spacing: 0.15px;
		color: #48555b;
		@include _576 {
			font-size: 25px;
		}
	}
}
