.title {
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	letter-spacing: 2.3px;
	color: #48555b;
	text-transform: uppercase;
	&--left {
		text-align: left;
		@include _992 {
			text-align: center;
		}
	}
	@include _576 {
		font-size: 16px;
	}
}
