<div id="header"></div>
<header class="header">
	<div class="container">
		<div class="header__content">
			<a href="#" class="header__logo"><img src="icons/logo-black.svg" alt="KONSTRUCT"></a>
			<nav class="header__menu ">
				<ul class="header__list flex-container">
					<li class="header__item"><a href="#">HOME</a></li>
					<li class="header__item"><a href="#">ABOUT</a></li>
					<li class="header__item"><a href="#">SERVICES</a></li>
					<li class="header__item"><a href="#">WORK</a></li>
					<li class="header__item"><a href="#">CONTACT</a></li>
				</ul>
			</nav>
			<div class="header__burger ">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
</header>